                {%- if not articles_page or first_article_of_day %}

                <h4 class="date">{{ article.date.strftime("%b %e,  %G") }}</h4>
                {%- endif %}

                <div class="post{% if article.pinned %} pinned{% endif %}">
                    {% if article['title'] -%}
                    <h2 class="title">
                        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permanent Link to &quot;{{ article.title }}&quot;">{{ article.title }}</a>
                    </h2>
                    {% endif %}

                    {{ article.content }}

                    <div class="clear"></div>
                    <div class="info">
                        {% if article.pinned -%}
                        <a href="{{ SITEURL }}/{{ article.url }}">Posted {{ article.date.strftime("%B %e, %H:%M") }}</a>
                        {%- else -%}
                        <a href="{{ SITEURL }}/{{ article.url }}">Posted at {{ article.date.strftime("%H:%M") }}</a>
                        {%- if article.category.name != "Uncategorized" -%}
                        &nbsp;&middot;&nbsp;<a href="{{ SITEURL }}/{{ article.category.url }}" rel="tag">{{ article.category }}</a>
                        {%- endif %}
                        {% if article.tags %}

                        <div class="tags">{% for t in article.tags %}

                            <a href="{{ SITEURL }}/{{ t.url }}" {%- if tag and tag.name == t.name %} class="selected"{% endif -%}>{{ t }}</a>
                            {%- endfor %}

                        </div>
                        {%- endif %}
                        {% endif %}

                    </div>
                    <div class="clear"></div>
                </div>

